<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= bookTxt.chapterTitle %>_<%= bookTxt.bookName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body class="txtBgColor">
<div class="container">
    <h3 class="text-center title"><%= bookTxt.chapterTitle %></h3>
    <div id="content"><%- bookTxt.bookContent %></div>
    <div class="row selectPage">
        <div class="col-sm-12 col-xs-12">
            <!--如果是首章则设置url为返回目录页否则指向上一章-->
            <a class="btn btn-primary prevPage" href="
                <% if (bookTxt.prevChapterId === 0) { %>
                    /bookInfo/<%= bookTxt.bookId%>
                <%} else { %>
                    /bookChapter/<%= bookTxt.bookId%>/<%= bookTxt.prevChapterId%>
                <% } %> "
            role="button">上一章</a>

            <a class="btn btn-primary backPage" href="/bookInfo/<%= bookTxt.bookId%>" role="button">回目录</a>

            <!--如果是尾章则设置url为返回目录页否则指向下一章-->
            <a class="btn btn-primary nextPage" href="
                <% if (bookTxt.nextChapterId === 0) { %>
                    /bookInfo/<%= bookTxt.bookId%>
                <%} else { %>
                    /bookChapter/<%= bookTxt.bookId%>/<%= bookTxt.nextChapterId%>
                <% } %> "
            role="button">下一章</a>
        </div>
    </div>
</div>
<%- include component/footer.ejs %>
</body>
</html>