<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>小说书架</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
<% include component/topNavbar.ejs%>

<!--导航栏-->
<div class="header">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/bookSort">分类</a></li>
        <li><a href="/bookRank/1">排行</a></li>
        <li><a href="/bookState/1">全本</a></li>
        <li class="active"><a href="/bookShelf">书架</a></li>
    </ul>
</div>
<%include component/search.ejs%>
<div class="container">
<div class="intro">你的书架</div>
    <div class="bookShelf">
    <!--用户书架列表展示-->
    <ul>
        <% bookArray.result.forEach(function(bookData){%>
        <li class="row" id="book-<%= bookData.bookId %>">
            <div class="bookImg">
                <a href="/bookInfo/<%= bookData.bookId %>">
                    <img class="img-thumbnail" alt="封面" id="bookImg" src='<%= bookData.bookImg %>' width=110px height=140px>
                </a>
            </div>
            <div class="bookInfo">
                <h2><a href='/bookInfo/<%= bookData.bookId %>'><%= bookData.bookName %></a>
                    <button type="button" class="btn btn-danger" onclick="deleteBook(<%= bookData.bookId %>)">移除本书</button>
                </h2>
                <p>作者：<a href='/author/<%= bookData.authorName %>'><%= bookData.authorName %></a></p>
                <p>分类：<%= bookData.bookTypeName %></p>
                <p>状态：<% if (bookData.status == 1) { %>连载中<% }else { %>已完结<% } %></p>
                <p>更新：<%= bookData.updateTime%></p>
                <p>最新：<a href="/bookChapter/<%= bookData.bookId %>/<%= bookData.latestChapter %>">
                        <%= bookData.latestChTitle %></a></p>
            </div>
        </li>
        <% }) %>
    </ul>
</div>
</div>
<%- include component/footer.ejs %>
<script>
    function formateDate(date) {
        var date = new Date(date);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        var d = date.getDate();
        var h = date.getHours();
        var mi = date.getMinutes();
        var sec = date.getSeconds();
        m = m > 9 ? m : '0' + m;
        alert("y:"+y+"m:"+m+"d:"+d+"h:"+h+"mi:"+mi);
        return y + '-' + m + '-' + d + ' ' + h + ':' + mi + ':'+sec;
    }
    //删除书籍
    function deleteBook(bookId){
        const userId = '<%=bookArray.userId%>';
        console.log(userId);
        console.log(bookId);
        if(userId == '' || bookId == ''){
            alert("用户名或书号不存在");
            return;
        }
        const con = confirm( "确定删除该书么" ); //在页面上弹出确认对话框
        if (con== false )return;
        $('.btn').prop('disabled', true);
        $.post(hostUrl + '/bookShelf/removeBook', {userId: userId, bookId: bookId},
            function (result) {
                if (result.success) {
                    //移除HTML节点
                    $("#book-"+bookId).remove();
                    console.log("#book-"+bookId);
                    alert("移除成功");
                }else{
                    alert(result.msg);
                }
            });
        $('.btn').prop('disabled', false);
    }
</script>
</body>
</html>