<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>笔趣阁小说阅读</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bookInfo.css">
</head>
<style>

</style>
<body>
<!--顶部导航栏-->
<nav class="nav  nav-tabs navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!--顶部左侧导航栏-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  class="navbar-brand" href="/">笔趣阁手机版</a>
        </div>
        <!--顶部右侧导航-->
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <!--个人信息下拉框-->
            <ul class="nav navbar-nav navbar-sub navbar-right">
                <!--如果是已经登陆展示的样式-->
                <% if (userInfo.uId) { %>
                    <li class="nav navbar-nav dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            欢迎，<%= userInfo.uName %><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息<span class="badge bg-warning">42</span></a></li>
                            <li><a href="/user">个人信息</a></li>
                            <li><a href="/logout">退出</a></li>
                        </ul>
                    </li>
                    <!--如果还未登录展示的样式-->
                <% }  else { %>
                    <li><a href="/login">登入</a></li>
                    <li><a href="/reg">注册</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<%include header.ejs%>
<%include search.ejs%>
<div class="container">
    <div class="row">
        <div class="col-sm-12 book">
            <div class="bookImg">
                <img class="img-thumbnail" alt="封面" id="bookImg" src='/images/bookImg/<%= bookData.bookId %>.jpg' style="width: 110px; height: 120px;">
            </div>
            <div class="block_txt">
                <p><a href='/bookInfo/<%= bookData.bookId %>'><%= bookData.bookName %></a></p>
                <p>作者：<a href='/author/<%= bookData.authorName %>'><%= bookData.authorName %></a></p>
                <p>分类：<%= bookData.bookTypeName %></p>
                <p>状态：<% if (bookData.status == 1) { %>连载中<% }else { %>已完结<% } %></p>
                <p>更新：<span class="updateTime"></span></p>
                <p>最新：<a href="/bookChapter/<%= bookData.bookId %>/<%= bookData.latestChapter %>">
                        <%= bookData.latestChTitle %></a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
        <div class="options">
            <button type="button" class="btn btn-primary btnDwd" onclick="getDownload()">合集下载</button>
            <button type="button" class="btn btn-primary" onclick="addToShelf()" id="addToShelf">加入书架</button>
        </div>
        </div>
    </div>

    <div class="intro">小说简介</div>
    <div class="intro_info">
        <%= bookData.Introduction %>
    </div>
    <div class="intro">最新章节预览</div>
    <ul class="chapter" id="latestCatalog"></ul>
    <div class="intro">章节目录</div>
    <!--章节目录-->
    <ul class="chapter" id="catalog"></ul>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <button type="button" class="btn btn-primary prevPage" onclick="getPage(-1)">上一页</button>
            <select class="selectIndex" id="selectIndex" onchange="getCatalog()" style="color: #333333">
                <option value="0">第1 - 20章</option>
            </select>
            <button type="button" class="btn btn-primary nextPage" onclick="getPage(1)">下一页</button>
        </div>
    </div>

</div>
<%include footer.ejs%>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    const bookId = '<%= bookData.bookId %>';
    var catalogCount = '<%= bookData.pageCount %>';
    var userId = '<%= bookData.uId%>';
    var filename = '<%= bookData.bookName %>';
    var time = '<%= bookData.updateTime %>';
    //当前目录页面序号
    var catalogIndex=0;
    $(function () {
        var dateTime = formateDate(time);
        // dateTime.format('yyyy-MM-dd HH:mm:ss');
        $('.updateTime').text(dateTime);
        checkShelf();
        getCatCount();
        latestCatalog();
        getCatalog(catalogIndex);
    })
    function formateDate(date) {
        var date = new Date(date);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        var d = date.getDate();
        var h = date.getHours();
        var mi = date.getMinutes();
        var sec = date.getSeconds();
        m = m > 9 ? m : '0' + m;
        d = d > 9 ? d : '0' + d;
        h = h > 9 ? h : '0' + h;
        mi = mi > 9 ? mi : '0' + mi;
        sec = sec > 9 ? sec : '0' + sec;
        return y + '-' + m + '-' + d + ' ' + h + ':' + mi + ':'+sec;
    }
    //下载本书电子合集
    function getDownload() {
        var params = {filename: filename, bookId: bookId};
        postExcelFile(params, "http://192.168.0.109:3000/getDownload");
    }
    function postExcelFile(params, url) { //params是post请求需要的参数，url是请求url地址
        var form = document.createElement("form");
        form.style.display = 'none';
        form.action = url;
        form.method = "post";
        // form.enctype = "multipart/form-data";
        document.body.appendChild(form);

        for(var key in params){
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = key;
            input.value = params[key];
            form.appendChild(input);
        }
        form.submit();
        form.remove();
    }

    // 检查本书是否已在书架中
    function checkShelf() {
        $.post('http://192.168.0.109:3000/bookInfo/checkShelf', {userId: userId, bookId: bookId},
            function (result) {
                if (result.success) {
                    $('#addToShelf').text('已在书架中');
                    $('#addToShelf').prop('disabled', 'disabled');
                    return;
                }
            });
    }
    //添加本书到书架
    function addToShelf(){
        $('#addToShelf').prop('disabled', true);
        $.post('http://192.168.0.109:3000/bookInfo/addToShelf', {userId: userId, bookId: bookId},
            function (result) {
                if (result.success) {
                    alert("添加成功");
                    $('#addToShelf').text('已在书架中');
                    $('#addToShelf').prop('disabled', 'disabled');
                }else{
                    alert(result.msg);
                }
            })
        $('#addToShelf').prop('disabled', false);
    }
    //获取分页数量
    function getCatCount() {
        $.post('http://192.168.0.109:3000/bookInfo/getCatCount', {bookId: bookId},
            function (result) {
                if (result.success) {
                    var html = '';
                    html+= '<option value="0" selected="selected">第1 - 20章</option>';
                    var begin=0, end=0;
                    catalogCount = result.data;
                    for (var i = 1; i < parseInt(result.data); i++) {
                        begin = i*20+1;
                        end = i*20+20;
                        html += '<option value='+i+'>第'+ begin +'-'+ end +'章</option>';
                    }
                    document.getElementById('selectIndex').innerHTML = html;
                }
            }
        );
    }
    //获取最新章节
    function latestCatalog() {
        if(bookId==''){
            alert('请求错误');
            return;
        }
        $.post('http://192.168.0.109:3000/bookInfo/latestCatalog', {bookId: bookId},
            function (result) {
                if (result.success) {
                    var html = '';
                    for(var i = 0; i < result.data.length; i++){
                        html += '<li><a href="/bookChapter/'+ result.data[i].bookId + '/'+ result.data[i].bookChapterId + '">'+ result.data[i].chapterTitle +'</a></li>';
                    }
                    //存储最新章节id到本地
                    localStorage.setItem('latestChapterId', result.data[0].bookChapterId);
                    document.getElementById('latestCatalog').innerHTML = html;
                }
            }
        );
        checkState(catalogIndex, catalogCount)
    }
    //获取章节目录
    function getCatalog(pageIndex=0) {
        pageIndex = $('#selectIndex').children('option:selected').val();
        catalogIndex = pageIndex;
        if(bookId==''){
            alert('请求错误');
            return;
        }
        $.post('http://192.168.0.109:3000/bookInfo/getCatalog', {bookId: bookId, catalogIndex: catalogIndex},
            function (result) {
                if (result.success) {
                    var html = '';
                    for(var i = 0; i < result.data.length; i++){
                        html += '<li><a href="/bookChapter/'+ result.data[i].bookId + '/'+ result.data[i].bookChapterId + '">'+ result.data[i].chapterTitle +'</a></li>';
                    }
                    document.getElementById('catalog').innerHTML = html;
                }
            }
        );
        checkState(catalogIndex, catalogCount)
    }

    //上一页或下一页
    function getPage(delta = 0){
        var catIndex = parseInt(catalogIndex) + parseInt(delta);
        // console.log(catIndex);
        //如果查找目录页面超过范围
        if(catIndex<0 || catIndex>=catalogCount){
            return;
        }
        //跳转页面未超出范围则更改相应select选中项
        $(".selectIndex").val(catIndex);
        // $("#selectIndex option[value= 'data' ]").prop("selected",true);
        getCatalog(catIndex);
    }
    //更新按钮状态
    function checkState(pageIndex, pageCount) {
        // 如果在首页且总共只有一页
        if(pageIndex == 0 && pageIndex == pageCount-1){
            $('.prevPage').prop('disabled',true);
            $('.nextPage').prop('disabled',true);
        }
        // 如果在首页且总共有多页
        else if(pageIndex == 0 && pageIndex < pageCount-1){
            $('.prevPage').prop('disabled',true);
            $('.nextPage').prop('disabled',false);
        }
        // 如果不在首页且不在尾页
        else if(pageIndex > 0 && pageIndex < pageCount-1){
            $('.prevPage').prop('disabled',false);
            $('.nextPage').prop('disabled',false);
        }
        // 如果在尾页
        else if(pageIndex > 0 && pageIndex == pageCount-1){
            $('.prevPage').prop('disabled',false);
            $('.nextPage').prop('disabled',true);
        }
    }

</script>
</body>
</html>